a {
    text-decoration: none;
}

.content-wrapper {
    flex: 1;
}

.img-fluid, .about-us-img, .service-img, .articles-img {
    width: 100%;
    height: 120px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    header .row {
        flex-direction: column;
        text-align: center;
    }
}

header h1, header h2 {
    margin-bottom: 0;
}


#sticky-nav {
    margin-bottom: 0;
}

.navbar-nav .nav-link {
    background-color: white;
    color: black;
    border: 10px solid black;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 5rem 1rem;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: black;
    color: white;
}


.social-icons a {
    margin-right: 15px;
    font-size: 1.5rem;
    color: #ffffff;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #dc3545;
}

#about-us p {
    text-align: justify;
}


.service-card, .article-card, .first-article {
    padding: 15px;
    border: 2px solid #212529;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    height: 100%;
    cursor: pointer;
}

.service-card:hover, .nav-link:hover, .article-card:hover {
    border-width: 4px;
    transform: scale(1.05);
    font-size: 1.1rem;
}

section {
    margin: 5rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
    padding: 2rem 0;
}
footer .text-left {
    margin-top: auto; 
    text-align: left;
}

footer .row {
    width: 100%;
}

footer h3 {
    margin-bottom: 1rem;
}

.social-icons {
    align-items: center;
}

.d-grid{

    grid-template-columns: repeat(4, 1fr); gap: 10px;

}

.card {
    min-height: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.expand {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.details {
    margin-top: 10px;
    display: none;
}

.details.visible {
    display: block;
}

.product-error{

    font-size: large;
    text-align: center;

}



